<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>QR App</title>
    <style>
    .card {
  padding: 40px;
  background: #fff;
  max-width: 700px;
  border-radius: 20px;
  margin: 30px auto;
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);

}
.card:hover
{
padding: 40px;
  background: #fff;
  max-width: 700px;
  border-radius: 20px;
  margin: 30px auto;
    box-shadow: 0 5px 10px rgb(35 173 255);
    transition: all 200ms
    }
    .elements
    {
    margin-left:5%;
    vertical-margin:10px;
    }
</style>
    <script>
function goBack() {
  window.history.back();
}</script>
</head>
<body>

<div class="card">
 <label  class="elements" for="text"> <h3>Scanned Address:</h3></label>
  <input type="address" class="form-control elements" name="address" value="{{data}}" id="address">


  <button onclick="goBack()" type="submit" class="btn btn-primary elements"> GO Back</button>
</div>
</body>
</html>